body {
    &.home {
        background-color: chickentheme-color("primary-lightened");
        transition: $transition-short;
        .wrap {
            padding-top: 50px;
        }
        &.sliderbg {
            background-color: chickentheme-color("secondary-lightened");
        }
    }
    &:not(.home) {
        background-color: chickentheme-color("light");
        .wrap {
            padding-top: 50px;
            padding-bottom: 100px;
        }
        .main {
            color: chickentheme-color("secondary");
            text-align: center;
            padding-right: 0;
            padding-left: 0;
            img {
                max-width: 100%;
                height: auto;
            }
        }
        article, .gmedia_gallery {
            @include make-col-sm(8);
            padding-bottom: 50px;
            @include media-breakpoint-up(sm) {
                @include make-col-offsets(2);
            }
        }
    }
    &.single {
        .main {
            padding-top: 100px;
        }
    }
}



//Headings and Paragraphs
h1 {
    text-transform: uppercase;
    font-size: $h1-font-size;
}

h2 {
    text-transform: uppercase;
    font-size: $h2-font-size;
}

h3, time.updated {
    font-size: $h3-font-size;
    font-family: $headings-font-family;
}

time.updated {
     &:before {
        @include diamond-shape( secondary, left);
         margin-top: 9px;
    }
    &:after {
        @include diamond-shape( secondary, right);
        margin-top: 9px;
    }
}

P {
    font-family: $font-family-sans-serif;
    font-weight: $font-weight-light;
    line-height: $line-height-base;
    font-size: $text-font-size;
}

.page-header {
    margin-bottom: 75px;
    color: chickentheme-color("secondary-lightened");
    background-color: chickentheme-color("secondary");
    padding: 50px 0;
    h1 {
        margin-bottom: 0;
    }
}

//Links
a {
    
    
}


//common Elements
.teal-bg {
    padding: $section-padding;
    background-color: chickentheme-color("primary-lightened");
    p, h2, h3 {
        color: chickentheme-color("secondary");
    }
    h3 {
        &:before {
            @include diamond-shape( secondary, left);
        }
        &:after {
            @include diamond-shape( secondary, right);
        }
    }
}

.violet-bg {
    padding: $section-padding;
    background-color: chickentheme-color("secondary");
    p, h2, h3, a {
        color: chickentheme-color("secondary-lightened");
    }
    h3 {
        &:before {
            @include diamond-shape( secondary-lightened, left);
        }
        &:after {
            @include diamond-shape( secondary-lightened, right);
        }
    }
    a:not(.small-link) {
        padding: 1px;
        font-family: $headings-font-family;
        font-size: $h3-font-size;
        text-transform: uppercase;
        border-bottom: 1px solid chickentheme-color("secondary-lightened");
        letter-spacing: $letterspacing-default;
        transition: $transition-short;
        &:hover, &:focus {
            color: $white;
        }
    }
    a.small-link {
        text-decoration: underline;
        &:hover, &:focus {
            color: $white;
        }
    }
}

.vc_row-has-fill {
    background-size: 120%;
    background-position: center center;
    background-repeat: no-repeat;
}

.wp-post-image {
    margin-bottom: 20px;
}


