// Grid settings
$main-sm-columns:       12;
$sidebar-sm-columns:    4;

//Spacing


//Colors
$theme-colors: (
  $primary: #53b8a9;
  $primary-lightened: scale-color($primary, $lightness: 70%);
	
);

//Fonts


//Links
$link-hover-decoration: none;