//Footer
footer.content-info {
    background-color: chickentheme-color("secondary");
    color: $white;
    height: 40px;
    padding-top: 8px;
    
    .container {
        text-align: right;
    }
    a {
        color: chickentheme-color("secondary-lightened");
        &:hover, &:focus {
        color: $white;
        }
    }
}