/*Homeslider*/
#homeslider {
    .hidden-sm-down {
        @include media-breakpoint-down(sm) {
            display: none;
        }
    }
    .hidden-sm-up {
        @include media-breakpoint-up(md) {
            display: none;
        }
    }
}

.mobile-slider {
    background: chickentheme-color("primary");
    background-image: url(../../dist/images/start-mobil.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: 60vh;
    margin: 0 auto;
    position: relative;
    .slides {
        height: 60vh;
    }
    li {
        font-family: $headings-font-family;
        color: $white;
        font-size: $h1-font-size;
        text-transform: none;
        text-align: center;
        line-height: 1;
        max-width: 100%;
        margin-top: 150px;
        @include media-breakpoint-down(xs) {
            margin-top: 200px;
        }
        @media screen and (max-width: 400px) {
            margin-top: 165px;
        }
    }
    .flex-direction-nav {
        display: none;
    }
    .flex-control-nav {
        bottom: 0;
    }
}

.slidertext {
    text-align: center;
    top: 50% !important;
    left: 50% !important;
    -webkit-transform: translate3d(-50%,-50%, 0);
            transform: translate3d(-50%,-50%, 0);
    color: $white; 
    text-transform: none;
    font-size: 24px !important;
    font-family: $headings-font-family;
    letter-spacing: $letterspacing-default !important;
    h1 {
        text-transform: uppercase;
        line-height: 1 !important;
    }
}

#fullwidth-image {
    padding: 25% 0;
}

#about {
    position: relative;
    &:before {
        @include bg-image-frontpage(350px, 800px, left, 0, 0);
        background-image: url(../../dist/images/gekrakzel-links2.png);
        @include media-breakpoint-down(md) {
            display: none;
        }
    }
    &:after {
        @include bg-image-frontpage(350px, 800px, right, 0, 110px);
        background-image: url(../../dist/images/gekrakzel-rechts.png);
        @include media-breakpoint-down(md) {
            display: none;
        }
    }
}

#angebote {
    position: relative;
    &:before {
        @include bg-image-frontpage(350px, 1000px, left, -50px, 200px);
        background-image: url(../../dist/images/gekrakzel-links.png);
        @include media-breakpoint-down(md) {
            display: none;
        }
    }
    &:after {
        @include bg-image-frontpage(350px, 1200px, right, 0, 600px);
        background-image: url(../../dist/images/gekrakzel-rechts2.png);
        @include media-breakpoint-down(md) {
            display: none;
        }
    }
}

#kunst-musik {
    position: relative;
    &:before {
        @include bg-image-frontpage(350px, 1000px, left, 50px, 1125px);
        background-image: url(../../dist/images/diamant-flieder.png);
        @include media-breakpoint-down(md) {
            display: none;
        }
    }
    &:after {
        @include bg-image-frontpage(350px, 1000px, right, 50px, 2000px);
        background-image: url(../../dist/images/maske-flieder.png);
        @include media-breakpoint-down(md) {
            display: none;
        }
    }
}

#contact {
    position: relative;
     &:before {
        @include bg-image-frontpage(800px, 800px, left, 50%, 145px);
        -webkit-transform: translateX(-55%);
                transform: translateX(-55%);
        background-image: url(../../dist/images/tassen-flieder.png);
         opacity: .8;
    }
}