header {
    min-height: 100px;
    nav {
        background: chickentheme-color("primary");
        -webkit-transition: all 0.3s ease;
        transition: all 0.3s ease;
        &.fixed-top {
            /*top: 50px;*/
            padding-top: 100px;
            @include media-breakpoint-down(xs) {
                padding-top: 112px;
            }
            @media screen and (max-width: 400px) {
                padding-top: 72px;
            }
        }
        &.navbar {
            padding-bottom: 0;
        }
        .nav {
            margin: 0 auto;
            margin-right: -20px;
            li {
                padding: 10px 9px;
                font-size: $h3-font-size;
                a {
                    color: chickentheme-color("primary-lightened");
                    font-family: $headings-font-family;
                    letter-spacing: $letterspacing-default;
                    &.dropdown-toggle:after {
                        top: 3px;
                        position: relative;
                    }
                    &:hover, &:focus {
                        color: $white;
                    }
                }
            }
            @include media-breakpoint-down(md) {
                display: block;
                text-align: right;
            }
        }
        ul.nav li.dropdown:hover ul.dropdown-menu{
            display: block;
            margin-top: 0;
            border-radius: 0;
            border: 0;
            background-color: chickentheme-color("light");
            li a {
                color: chickentheme-color("secondary");
                &:hover, &:focus {
                    opacity: .7;
                }
            }
            @include media-breakpoint-down(md) {
                left: auto;
                top: 20px;
                right: 130px;
            }
        }
        .navbar-brand {
            position: absolute;
            top: -7px;
            left: 0;
            @include media-breakpoint-down(xs) {
                width: 100%;
                height: auto;
            }
            img {
                max-height: 155px;
                position: absolute;
                -webkit-transition: $transition-default;
                transition: $transition-default;
                &:first-child {
                    max-height: 154px;
                    @include media-breakpoint-down(md) {
                        max-height: 152px;
                    }
                     @include media-breakpoint-down(xs) {
                        max-height: 164px;
                    }
                    @media screen and (max-width: 400px) {
                        max-height: 124px;
                    }
                }
                &.chickenlogo:hover {
                    opacity: 0;
                }
                 @include media-breakpoint-down(md) {
                    max-height: 153px;
                }
                @include media-breakpoint-down(xs) {
                    max-height: 165px;
                   
                }
                @media screen and (max-width: 400px) {
                    max-height: 125px;
                }
            }
        }
        &.stickynav {
            -webkit-transform: translateY(-100px);
                    transform: translateY(-100px);
            .navbar-brand {
                opacity: 0;
                -webkit-transition: all 0.5s ease;
                transition: all 0.5s ease;
            }
            .nav {
                -webkit-transition: $transition-default;
                transition: $transition-default;
                margin-right: auto;
            }
            .navbar-toggler {
                @include media-breakpoint-down (md) {
                    margin-bottom: 5px !important;
                }
            }
            @include media-breakpoint-down(xs) {
                padding-top: 110px;
            }
        }
        @include media-breakpoint-down(xs) {
            /*background: chickentheme-color("secondary");*/
            
        }
    }
    .navbar-light .navbar-toggler {
        margin: 0 auto;
        margin-right: 0;
        outline: 0;
        margin-bottom: 13px !important;
        border: 0;
    }
}









