header {
	min-height: 100px;
    nav {
        background: chickentheme-color("primary-lightened");
        &.fixed-top {
            top: 50px;
        }
        .nav {
            margin: 0 auto;
            li {
                padding: 10px 20px;
                a {
                    color: chickentheme-color("secondary");
                }
            }
        }
        ul.nav li.dropdown:hover ul.dropdown-menu{
            display: block;
            margin-top: 0;
        }
    }
}









